body {
  background-color: black;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: none;
  border: none;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.navbar-default {
  background-image: none;
  background-color: white;
  border: none;
  box-shadow: none;
}

.big-c {
  max-height: 50px;
}

.nav-link-cartilage {
  color: black;
}

.cartilage-container {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 300px;
}

.master-logo {
  width: 100%;
}

.contact-header {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

.contact-field {
  width: 100%;
  padding: 5px;
}

.contact-email {
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 1px;
}

.contact-message {
  min-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 1px;
  margin-bottom: 5px;
}

.contact-send {
  text-align: center;
  margin: auto;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 2px;
}

.contact-send:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.film-link {
  color: black;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 40px;
}

.unstyled {
  font-style: normal;
}

.poster {
  width: 100%;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.synopsis {
  font-style: italic;
  margin: 40px 0 20px;
}

.text-center {
  text-align: center;
}


@media only screen and (max-width: 767px) {
  .video-container {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .poster-block {
    height: 650px;
  }
}

@media only screen and (min-width: 992px) {
  .poster-block {
    height: 550px;
  }
}

@media only screen and (min-width: 1200px) {
  .poster-block {
    height: 650px;
  }
}
