body {
  background-color: black;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: none;
  border: none;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.navbar-default {
  background-image: none;
  background-color: white;
  border: none;
  box-shadow: none;
}

.big-c {
  max-height: 50px;
}

.nav-link-cartilage {
  color: black;
}

.cartilage-container {
  padding-top: 20px;
}

.master-logo {
  width: 100%;
}

.contact-header {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

.contact-field {
  width: 100%;
  padding: 5px;
}

.contact-email {
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  border: 1px solid gray;
  border-radius: 1px;
}

.contact-message {
  min-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 1px;
  margin-bottom: 5px;
}

.contact-send {
  text-align: center;
  margin: auto;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 2px;
}

.contact-send:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


@media only screen and (max-width: 820px) {
  .runner {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

@media only screen and (max-width: 440px) {
  .runner {
    width: calc(100% - 10px);
    margin: 0 5px;
  }

  .runner-interior {
    padding: 10px;
  }
}

